In [28]:
import pandas as pd
import numpy as np
import os
#Data with Dates is given in consecutive & nonconsecutive forms 
#(multiple factors per date or all dates of each factor, sequentially)

In [29]:
#Key to give state & county name value for each FIPS code

Key =  pd.read_csv('Key.csv', index_col=0).sort_values(by=['FIPS'])

In [30]:
Key.head()

      ST          COUNTY
FIPS
1001  AL  Autauga County
1003  AL  Baldwin County
1005  AL  Barbour County
1007  AL     Bibb County
1009  AL   Blount County

In [31]:
#County Covid Cases/Deaths
#NaN cleaning here set things to 0
Consecutive_CD =  pd.read_csv('USAFacts_CDConsecutive.csv', index_col=0).sort_values(by=['FIPS'])
Nonconsecutive_CD =  pd.read_csv('USAFacts_CDNonconsecutive.csv', index_col=0).sort_values(by=['FIPS'])

In [32]:
Consecutive_CD.head()

,01/22/20_C,01/23/20_C,01/24/20_C,01/22/20_D,01/23/20_D,01/24/20_D,01/25/20_C,01/25/20_D,01/26/20_C,01/26/20_D,...,04/07/20_C,04/07/20_D,04/08/20_C,04/08/20_D,04/09/20_C,04/09/20_D,04/10/20_C,04/10/20_D,04/11/20_C,04/11/20_D
FIPS,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0.0,0,0.0,0,240.0,0,0.0
1001,0,0,0,0,0,0,0,0,0,0,...,12,0.0,12,1.0,17,1.0,17,1.0,19,1.0
1003,0,0,0,0,0,0,0,0,0,0,...,42,0.0,49,0.0,59,0.0,59,0.0,66,0.0
1005,0,0,0,0,0,0,0,0,0,0,...,3,0.0,3,0.0,7,0.0,9,0.0,10,0.0
1007,0,0,0,0,0,0,0,0,0,0,...,8,0.0,9,0.0,11,0.0,11,0.0,13,0.0

In [33]:
#County Health Info

County_Beds =  pd.read_csv('County_Beds.csv', index_col=0).sort_values(by=['FIPS'])
County_ICU =  pd.read_csv('County_ICU.csv', index_col=0).sort_values(by=['FIPS'])
County_Health =  pd.read_csv('County_Health.csv', index_col=0).sort_values(by=['FIPS'])

In [34]:
County_Beds.head()

      staffed_beds  licensed_beds  icu_beds
FIPS
1001            55             85         6
1003           362            410        44
1005            30             74         5
1007            25             35         0
1009            25             40         6

In [35]:
County_ICU.head()

      hospitals  icu_beds
FIPS
1001          1         6
1003          3        51
1005          1         5
1007          1         0
1009          1         6

In [36]:
County_Health.head()

      hospitals  staffed_beds  licensed_beds  icu_beds_Pre  icu_beds_Post
FIPS
1001          1          55.0           85.0           6.0              6
1003          3         362.0          410.0          44.0             51
1005          1          30.0           74.0           5.0              5
1007          1          25.0           35.0           0.0              0
1009          1          25.0           40.0           6.0              6

In [37]:
#County Mobility Info (Need to be cleaned for NaNs)

Consecutive_M =  pd.read_csv('Mobility_County_Consecutive.csv', index_col=0).sort_values(by=['FIPS'])
Nonconsecutive_M =  pd.read_csv('Mobility_County_Nonconsecutive.csv', index_col=0).sort_values(by=['FIPS'])
#making NaN=0
Consecutive_M = Consecutive_M.fillna(0)
Nonconsecutive_M = Nonconsecutive_M.fillna(0)
#######################################################

#Google Mobility Info
#This needs to be cleaned for NaNs
google_county_Consecutive = pd.read_csv('google_county_Consecutive.csv', index_col=0).sort_values(by=['FIPS'])
google_county_Nonconsecutive = pd.read_csv('google_county_Nonconsecutive.csv', index_col=0).sort_values(by=['FIPS'])

In [38]:
Consecutive_M.head()

,03/01/20_M_idx,03/01/20_M_m50,03/01/20_M_samples,03/02/20_M_idx,03/02/20_M_m50,03/02/20_M_samples,03/03/20_M_idx,03/03/20_M_m50,03/03/20_M_samples,03/04/20_M_idx,...,04/06/20_M_samples,04/07/20_M_idx,04/07/20_M_m50,04/07/20_M_samples,04/08/20_M_idx,04/08/20_M_m50,04/08/20_M_samples,04/09/20_M_idx,04/09/20_M_m50,04/09/20_M_samples
FIPS,,,,,,,,,,,,,,,,,,,,,
1001.0,49.0,7.194,1703.0,100.0,14.587,1829.0,95.0,13.865,1840.0,95.0,...,1719.0,33.0,4.851,1696.0,32.0,4.792,1685.0,38.0,5.662,1696.0
1003.0,81.0,9.780,7067.0,100.0,12.042,7136.0,95.0,11.481,7220.0,90.0,...,6397.0,39.0,4.726,6463.0,41.0,5.042,6423.0,46.0,5.588,6477.0
1005.0,90.0,8.348,546.0,107.0,10.004,569.0,100.0,9.267,545.0,70.0,...,508.0,47.0,4.406,503.0,47.0,4.388,510.0,64.0,5.946,524.0
1007.0,53.0,13.008,512.0,95.0,23.076,574.0,100.0,24.164,588.0,94.0,...,513.0,29.0,7.141,505.0,43.0,10.532,495.0,41.0,9.952,508.0
1009.0,68.0,15.963,1495.0,96.0,22.456,1608.0,100.0,23.222,1615.0,99.0,...,1500.0,41.0,9.551,1503.0,43.0,10.065,1499.0,49.0,11.477,1499.0

In [39]:
google_county_Consecutive.head()

,03/29/20_grocery,03/29/20_parks,03/29/20_residential,03/29/20_transit,03/29/20_workplaces,03/29/20retail,04/05/20_grocery,04/05/20_parks,04/05/20_residential,04/05/20_transit,04/05/20_workplaces,04/05/20retail
FIPS,,,,,,,,,,,,
1001,-8.0,-14.0,16.0,NaN,-35.0,-42.0,-8.0,-14.0,17.0,NaN,-38.0,-53.0
1003,-19.0,-27.0,9.0,-24.0,-32.0,-47.0,-27.0,-44.0,11.0,-39.0,-35.0,-55.0
1005,-20.0,NaN,NaN,NaN,-23.0,-27.0,-20.0,NaN,NaN,NaN,-30.0,-40.0
1007,-10.0,NaN,NaN,NaN,-32.0,-25.0,-15.0,NaN,NaN,NaN,-35.0,-42.0
1009,-2.0,NaN,15.0,NaN,-29.0,-36.0,-17.0,NaN,14.0,NaN,-33.0,-49.0

In [40]:
#County Policy/Transit Info

#This needs to be cleaned for NaNs
Policies_County = pd.read_csv('Policies_County.csv', index_col=0).sort_values(by=['FIPS']) 


Transit = pd.read_csv('Transit.csv', index_col=0).sort_values(by=['FIPS'])

In [41]:
Policies_County.head()

,stay at home,>50 gatherings,>500 gatherings,public schools,restaurant dine-in,entertainment/gym,federal guidelines,foreign travel ban
FIPS,,,,,,,,
1001,NaN,737504.0,737497.0,737500.0,737503.0,NaN,737500.0,737495.0
1003,NaN,737504.0,737497.0,737500.0,737503.0,NaN,737500.0,737495.0
1005,NaN,737504.0,737497.0,737500.0,737503.0,NaN,737500.0,737495.0
1007,NaN,737504.0,737497.0,737500.0,737503.0,NaN,737500.0,737495.0
1009,NaN,737504.0,737497.0,737500.0,737503.0,NaN,737500.0,737495.0

In [42]:
Transit.head()

      Score  TCI+  Jobs+  Trips/Week+  Routes  Transit Shed  Transit
FIPS
1001    0.0   0.0      0            0       0             0        0
1003    0.3   0.1   2691           14       1             1        0
1005    0.0   0.0      0            0       0             0        0
1007    0.1   0.0    279            2       0             0        0
1009    0.0   0.0      0            0       0             0        0

In [43]:
#County Demographic Info

Votes =  pd.read_csv('Votes.csv', index_col=0).sort_values(by=['FIPS'])
Age_Race =  pd.read_csv('Age_Race.csv', index_col=0).sort_values(by=['FIPS'])
Educ_County =  pd.read_csv('Educ_County.csv', index_col=0).sort_values(by=['FIPS'])
Density =  pd.read_csv('Density.csv', index_col=0).sort_values(by=['FIPS'])
Unemp =  pd.read_csv('Unemp.csv', index_col=0).sort_values(by=['FIPS'])
Poverty =  pd.read_csv('Poverty.csv', index_col=0).sort_values(by=['FIPS'])
Pop_60 =  pd.read_csv('Pop_60.csv', index_col=0).sort_values(by=['FIPS'])

In [44]:
Votes.head()

,Total_Votes_2000,Total_Votes_2004,Total_Votes_2008,Total_Votes_2012,Total_Votes_2016,Frac_Dem_2000,Frac_Dem_2004,Frac_Dem_2008,Frac_Dem_2012,Frac_Dem_2016
FIPS,,,,,,,,,,
1001,17208.0,20081.0,23641.0,23932.0,24973.0,0.287192,0.236940,0.257730,0.265878,0.237697
1003,56480.0,69320.0,81413.0,85338.0,95215.0,0.247822,0.225029,0.238119,0.215894,0.193856
1005,10395.0,10777.0,11630.0,11509.0,10469.0,0.499086,0.448362,0.489854,0.513685,0.465278
1007,7101.0,7600.0,8644.0,8420.0,8819.0,0.381636,0.274868,0.265965,0.261520,0.212496
1009,17973.0,21504.0,24267.0,24006.0,25588.0,0.276915,0.183129,0.145135,0.123719,0.084258

In [45]:
Age_Race.head()

,Total population,Male,Female,Under 5 years,5 to 9 years,20 to 24 years,25 to 34 years,35 to 44 years,45 to 54 years,55 to 59 years,...,Not Hispanic or Latino!!White alone,Not Hispanic or Latino!!Black or African American alone,Not Hispanic or Latino!!American Indian and Alaska Native alone,Not Hispanic or Latino!!Asian alone,Not Hispanic or Latino!!Native Hawaiian and Other Pacific Islander alone,Not Hispanic or Latino!!Some other race alone,Not Hispanic or Latino!!Two or more races,Not Hispanic or Latino!!Interracial Two races including Some other race,"Not Hispanic or Latino!!Interracial Two races excluding Some other race, and Three or more races",Total housing units
FIPS,,,,,,,,,,,,,,,,,,,,,
1003,218022,105437,112585,10878,9445,10426,23498,25990,30117,16569,...,180926,20328,1209,2338,45,148,2896,127,2769,116632
1015,114277,55054,59223,7142,7158,7451,16273,12608,13616,8305,...,82308,24737,107,426,0,0,2230,293,1937,53888
1043,83442,40794,42648,5329,4798,4500,10274,10131,10843,5407,...,0,0,0,0,0,0,0,0,0,38029
1049,71385,35048,36337,3989,3851,4176,8645,8261,9548,4533,...,57199,1335,814,173,0,0,1269,0,1269,31656
1051,81887,39988,41899,5246,4443,4847,12140,10087,11642,5364,...,59771,16836,345,522,0,0,1946,56,1890,34416

In [46]:
Educ_County.head()

,"Less than a high school diploma, 2014-18","High school diploma only, 2014-18","Some college or associate's degree, 2014-18","Bachelor's degree or higher, 2014-18","Percent of adults with less than a high school diploma, 2014-18","Percent of adults with a high school diploma only, 2014-18","Percent of adults completing some college or associate's degree, 2014-18","Percent of adults with a bachelor's degree or higher, 2014-18"
FIPS,,,,,,,,
1001,"4,204","12,119","10,552","10,291",11.3,32.6,28.4,27.7
1003,"14,310","40,579","46,025","46,075",9.7,27.6,31.3,31.3
1005,"4,901","6,486","4,566","2,220",27.0,35.7,25.1,12.2
1007,"2,650","7,471","3,846","1,813",16.8,47.3,24.4,11.5
1009,"7,861","13,489","13,267","5,010",19.8,34.0,33.5,12.6

In [47]:
Density.head()

,Area in square miles - Total area,Area in square miles - Land area,2010 Density per square mile of land area - Population,2010 Density per square mile of land area - Housing units
FIPS,,,,
1001,604.39,594.44,91.8,37.2
1003,2027.31,1589.78,114.6,65.5
1005,904.52,884.88,31.0,13.4
1007,626.17,622.58,36.8,14.4
1009,650.63,644.78,88.9,37.0

In [48]:
Unemp.head()

,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Metro_2013,Civilian_labor_force_2018,Employed_2018,Unemployed_2018,Unemployment_rate_2018,Median_Household_Income_2018,Med_HH_Income_Percent_of_State_Total_2018
FIPS,,,,,,,,,
1001,2,2,1,"25,957","25,015",942,3.6,"$59,338",119.0
1003,3,2,1,"93,849","90,456","3,393",3.6,"$57,588",115.5
1005,6,6,0,"8,373","7,940",433,5.2,"$34,382",68.9
1007,1,1,1,"8,661","8,317",344,4.0,"$46,064",92.3
1009,1,1,1,"25,006","24,128",878,3.5,"$50,412",101.1

In [49]:
Poverty.head()

,Rural-urban_Continuum_Code_2003,Urban_Influence_Code_2003,POVALL_2018,CI90LBAll_2018,CI90UBALL_2018,PCTPOVALL_2018,CI90LBALLP_2018,CI90UBALLP_2018,POV017_2018,CI90LB017_2018,...,CI90UB017P_2018,POV517_2018,CI90LB517_2018,CI90UB517_2018,PCTPOV517_2018,CI90LB517P_2018,CI90UB517P_2018,MEDHHINC_2018,CI90LBINC_2018,CI90UBINC_2018
FIPS,,,,,,,,,,,,,,,,,,,,,
1001,2,2,"7,587","6,334","8,840",13.8,11.5,16.1,"2,509","1,965",...,23.5,"1,891","1,469","2,313",19.5,15.1,23.9,"59,338","53,628","65,048"
1003,4,5,"21,069","17,390","24,748",9.8,8.1,11.5,"6,442","4,723",...,17.6,"4,534","3,223","5,845",13.1,9.3,16.9,"57,588","54,437","60,739"
1005,6,6,"6,788","5,662","7,914",30.9,25.8,36.0,"2,242","1,788",...,52.8,"1,411","1,056","1,766",36.7,27.5,45.9,"34,382","31,157","37,607"
1007,1,1,"4,400","3,445","5,355",21.8,17.1,26.5,"1,238",923,...,34.9,840,606,"1,074",26.3,19.0,33.6,"46,064","41,283","50,845"
1009,1,1,"7,527","6,045","9,009",13.2,10.6,15.8,"2,374","1,784",...,22.5,"1,520","1,053","1,987",15.5,10.7,20.3,"50,412","46,157","54,667"

In [50]:
Pop_60.head()

      total_pop  60plus
FIPS
1001      55036   10523
1003     203360   53519
1005      26201    6150
1007      22580    4773
1009      57667   13600

In [51]:
#County Air Quality Info

#This needs to be cleaned for NaNs
Air_Qual = pd.read_csv('Air_Qual.csv', index_col=0).sort_values(by=['FIPS','ValidDate'])
Air_Qual = Air_Qual.set_index('FIPS')

#Individual breakdown of Air Quality, needs to be cleaned for NaNs
Ozone_AQI = pd.read_csv('Ozone_AQI.csv', index_col=0).sort_values(by=['FIPS'])
PM10_AQI = pd.read_csv('PM10_AQI.csv', index_col=0).sort_values(by=['FIPS'])
PM25_AQI = pd.read_csv('PM25_AQI.csv', index_col=0).sort_values(by=['FIPS'])
NO2_AQI = pd.read_csv('NO2_AQI.csv', index_col=0).sort_values(by=['FIPS'])
CO_PPB = pd.read_csv('CO_PPB.csv', index_col=0).sort_values(by=['FIPS'])
SO2_PPB = pd.read_csv('SO2_PPB.csv', index_col=0).sort_values(by=['FIPS'])

C:\Users\jethi\Anaconda3\lib\site-packages\numpy\lib\arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [52]:
Air_Qual.head()

,Latitude,Longitude,ValidDate,OZONE_AQI,PM10_AQI,PM25_AQI,NO2_AQI,CO,CO_Unit,SO2,SO2_Unit
FIPS,,,,,,,,,,,
1003,30.4889,-87.8706,01/01/20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1003,30.4889,-87.8706,01/01/20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1003,30.4889,-87.8706,01/01/20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1003,30.4889,-87.8706,01/01/20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1003,30.4889,-87.8706,01/01/20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
NO2_AQI.head()

,01/01/20,01/02/20,01/03/20,01/04/20,01/05/20,01/06/20,01/07/20,01/08/20,01/09/20,01/10/20,...,03/25/20,03/26/20,03/27/20,03/28/20,03/29/20,03/30/20,03/31/20,04/10/20,04/11/20,04/12/20
FIPS,,,,,,,,,,,,,,,,,,,,,
4013,12.776596,17.406977,19.484211,17.395833,14.989583,18.842105,20.891304,20.925532,16.619565,12.200000,...,14.831169,7.962500,6.537500,10.886076,10.450000,13.237500,16.985915,12.550000,5.645570,4.290909
6001,10.616667,9.583333,13.783333,11.900000,9.000000,12.183333,16.633333,11.333333,6.483333,12.779661,...,6.966667,9.116667,6.966667,4.016667,3.600000,4.766667,6.750000,5.416667,1.450000,0.650000
6007,7.866667,7.083333,9.733333,4.666667,6.933333,4.866667,9.133333,7.666667,4.733333,8.933333,...,2.416667,4.600000,4.466667,2.200000,1.466667,1.533333,1.466667,4.200000,4.133333,4.200000
6013,11.944444,11.688889,14.547619,10.733333,7.813333,11.492958,18.418605,11.797619,7.441860,14.655556,...,8.722222,8.875000,7.066667,4.744444,3.900000,5.788889,6.233333,5.777778,2.866667,2.466667
6019,9.833333,10.133333,11.766667,9.473684,5.258621,5.685185,9.016667,7.483333,8.350000,8.800000,...,3.152542,5.830189,7.250000,4.701754,2.879310,7.557692,5.250000,7.300000,5.017544,7.857143

In [54]:
CO_PPB.head()

,01/01/20,01/02/20,01/03/20,01/04/20,01/05/20,01/06/20,01/07/20,01/08/20,01/09/20,01/10/20,...,03/25/20,03/26/20,03/27/20,03/28/20,03/29/20,03/30/20,03/31/20,04/10/20,04/11/20,04/12/20
FIPS,,,,,,,,,,,,,,,,,,,,,
1003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1073,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN