In [36]:
import pandas as pd
import numpy as np
import os
import datetime

In [37]:
import git
import sys
repo = git.Repo("./", search_parent_directories=True)
homedir = repo.working_dir

In [38]:
#Death Data
NYT_DC = pd.read_csv(f"{homedir}/data/us/covid/nyt_us_counties_daily.csv")
NYT_DC = NYT_DC.drop(columns=['county','state']).sort_values(['fips','date']).reset_index(drop=True)
NYT_DC['fips'] = NYT_DC.fips.astype(int)
NYT_DC['date'] = pd.to_datetime(NYT_DC['date'])
NYT_DC['id'] = NYT_DC.fips.astype(str).str.cat(NYT_DC.date.astype(str), sep=', ')
JHU_DC = pd.read_csv(f"{homedir}/data/us/covid/JHU_daily_US.csv")
JHU_DC['FIPS'] = JHU_DC.FIPS.astype(int)
JHU_DC['Date'] = pd.to_datetime(JHU_DC['Date'])
JHU_DC['id'] = JHU_DC.FIPS.astype(str).str.cat(JHU_DC.Date.astype(str), sep=', ')
JHU_DC.loc[JHU_DC['Active'] < 0, 'Active'] *= -1

In [14]:
#Making a base dataframe to put all data into
County_List = list(set(NYT_DC.fips.unique()).union(set(JHU_DC.FIPS.unique())))
Date_List = list(set(NYT_DC.date.unique()).union(set(JHU_DC.Date.unique())))
#This creates a base dataframe that contains all pairs of FIPS codes with the valid dates given in Air_Qual
CL, DL = pd.core.reshape.util.cartesian_product([County_List, Date_List])
BaseFrame = pd.DataFrame(dict(FIPS=CL, Date=DL)).sort_values(['FIPS','Date']).reset_index(drop=True)
#BaseFrame.join(JHU_DC, )
BaseFrame['id'] = BaseFrame.FIPS.astype(str).str.cat(BaseFrame.Date.astype(str), sep=', ')

In [15]:
#DataFrame to contain Y values: I.E. number of deaths, cases per county per day, target of LSTM Model
Death_Daily = BaseFrame.join(JHU_DC.set_index('id'), on = 'id', how = 'left', lsuffix='', rsuffix='b')
Death_Daily = Death_Daily.join(NYT_DC.set_index('id'), on = 'id', how = 'left', lsuffix='x', rsuffix='y')
Death_Daily = Death_Daily.drop(columns= ['id','FIPSb','Dateb','fips','date'])
Death_Daily = Death_Daily.drop_duplicates(subset=['FIPS','Date'])

Death_Daily['Confirmed_Cases'] = np.nanmax(Death_Daily[['Confirmed','cases']].values, axis=1)
Death_Daily['Confirmed_Deaths'] = np.nanmax(Death_Daily[['Deaths','deaths']].values, axis=1)
Death_Daily = Death_Daily.drop(columns=['Confirmed','Deaths','cases','deaths'])
Death_Daily = Death_Daily.dropna(subset=['FIPS','Date'])
Death_Daily = Death_Daily.fillna(0)
Death_Daily = Death_Daily.sort_values(['FIPS','Date'])
Death_Daily.to_csv('Death_Daily.csv')

C:\Users\jethi\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: RuntimeWarning: All-NaN slice encountered
  import sys
C:\Users\jethi\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: RuntimeWarning: All-NaN slice encountered

In [17]:
#Standard Mobility DL data
Mobility = pd.read_csv(f"{homedir}/models/processing/USA/County_Based/DL_Mobility.csv", index_col=0).reset_index(drop=True)
Mobility['fips'] = Mobility.fips.astype(int)
Mobility['date'] = pd.to_datetime(Mobility['date'])
Mobility['id'] = Mobility.fips.astype(str).str.cat(Mobility.date.astype(str), sep=', ')

Mobility.head()

        date  fips  samples     m50  m50_index                id
0 2020-03-01  1001     1703   7.194         49  1001, 2020-03-01
1 2020-03-02  1001     1829  14.587        100  1001, 2020-03-02
2 2020-03-03  1001     1840  13.865         95  1001, 2020-03-03
3 2020-03-04  1001     1900  13.880         95  1001, 2020-03-04
4 2020-03-05  1001     1825  14.659        100  1001, 2020-03-05

In [13]:
#Google Mobility Data
Google = pd.read_csv(f"{homedir}/models/processing/USA/County_Based/google_new_filled.csv", index_col=0).reset_index(drop=True)
Google['FIPS'] = Google.FIPS.astype(int)
Google['Date'] = pd.to_datetime(Google['Date'])
Google['id'] = Google.FIPS.astype(str).str.cat(Google.Date.astype(str), sep=', ')
Google.head()

,FIPS,Date,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,residential_percent_change_from_baseline,retail_and_recreation_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,id
0,1001,2020-02-15,7.0,5.522819,-1.527507,5.0,6.364064,-4.0,"1001, 2020-02-15"
1,1001,2020-02-16,1.0,-23.000000,1.000000,0.0,-5.888442,-4.0,"1001, 2020-02-16"
2,1001,2020-02-17,0.0,3.275069,5.000000,8.0,-2.629827,-27.0,"1001, 2020-02-17"
3,1001,2020-02-18,0.0,-4.000000,0.000000,-2.0,-7.607523,2.0,"1001, 2020-02-18"
4,1001,2020-02-19,0.0,5.016194,0.000000,-2.0,-1.303654,2.0,"1001, 2020-02-19"

In [12]:
#Air Quality Data
Air_Qual = pd.read_csv(f"{homedir}/models/processing/USA/County_Based/Air_Qual_Filled.csv", index_col=0).reset_index(drop=True)
Air_Qual['FIPS'] = Air_Qual.FIPS.astype(int)
Air_Qual['Date'] = pd.to_datetime(Air_Qual['Date'])
Air_Qual['id'] = Air_Qual.FIPS.astype(str).str.cat(Air_Qual.Date.astype(str), sep=', ')

Air_Qual.head()

,FIPS,Date,OZONE_AQI,PM10_AQI,PM25_AQI,NO2_AQI,CO,SO2,id
0,1001,2020-01-01,16.422424,10.125737,54.5000,7.468020,0.287662,0.428571,"1001, 2020-01-01"
1,1001,2020-01-02,22.169518,10.668188,54.8125,13.391453,0.326020,0.583333,"1001, 2020-01-02"
2,1001,2020-01-03,17.153856,10.328083,29.8750,12.347675,0.353808,0.133333,"1001, 2020-01-03"
3,1001,2020-01-04,25.211669,10.220940,20.3125,4.207851,0.214592,0.000000,"1001, 2020-01-04"
4,1001,2020-01-05,18.645173,9.011376,35.8750,6.152528,0.252093,0.066667,"1001, 2020-01-05"

In [27]:
#DataFrame to contain X values, Factors to help predict future death/case counts
Factors_Daily = BaseFrame
Factors_Daily = Factors_Daily.join(Air_Qual.set_index('id'), how='left', on='id',lsuffix = '', rsuffix = '_X')
Factors_Daily = Factors_Daily.join(Google.set_index('id'), how='left', on='id',lsuffix = '', rsuffix = '_X')
Factors_Daily = Factors_Daily.join(Mobility.set_index('id'), how='left', on='id')
Factors_Daily = Factors_Daily.drop(columns=['FIPS_X','Date_X','date','fips']).sort_values(['FIPS','Date'])
Factors_Daily.to_csv('Factors_Daily.csv')

In [28]:
Factors_Daily

,FIPS,Date,id,OZONE_AQI,PM10_AQI,PM25_AQI,NO2_AQI,CO,SO2,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,residential_percent_change_from_baseline,retail_and_recreation_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,samples,m50,m50_index
0,1001,2020-01-21,"1001, 2020-01-21",21.424662,11.462195,48.4000,9.718369,0.223754,0.133333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1001,2020-01-22,"1001, 2020-01-22",21.995240,12.545221,48.3750,15.605490,0.302779,4.307692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1001,2020-01-23,"1001, 2020-01-23",23.186707,12.136450,53.5000,13.181550,0.269936,2.727273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1001,2020-01-24,"1001, 2020-01-24",19.191761,11.321569,47.4375,10.760020,0.287658,0.166667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1001,2020-01-25,"1001, 2020-01-25",18.930764,10.056742,30.7500,6.549899,0.297778,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1001,2020-01-26,"1001, 2020-01-26",11.330019,13.064305,48.7500,8.331218,0.240231,0.285714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1001,2020-01-27,"1001, 2020-01-27",20.389567,11.228655,36.5000,11.223603,0.300864,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1001,2020-01-28,"1001, 2020-01-28",14.890866,17.600639,46.0625,12.010569,0.309148,1.357143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1001,2020-01-29,"1001, 2020-01-29",18.577054,15.671186,45.4375,15.163321,0.389702,0.923077,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1001,2020-01-30,"1001, 2020-01-30",19.472991,20.119365,43.5000,10.967973,0.320775,4.214286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1001,2020-01-31,"1001, 2020-01-31",19.744538,15.145279,51.3125,12.287678,0.269180,0.200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1001,2020-02-01,"1001, 2020-02-01",16.641388,11.050213,40.1875,7.682955,0.251976,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1001,2020-02-02,"1001, 2020-02-02",19.342368,8.156547,44.0625,6.599155,0.220567,0.406230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1001,2020-02-03,"1001, 2020-02-03",25.230065,13.513524,45.0625,15.457983,0.289694,0.414149,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1001,2020-02-04,"1001, 2020-02-04",16.545455,12.645134,40.3125,9.418425,0.227608,0.236227,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1001,2020-02-05,"1001, 2020-02-05",15.900000,11.748321,36.0000,7.713003,0.258887,0.175587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1001,2020-02-06,"1001, 2020-02-06",14.478640,8.216096,25.1875,5.803991,0.244932,0.173618,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1001,2020-02-07,"1001, 2020-02-07",23.687042,12.678011,20.8125,5.368029,0.221312,0.145131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1001,2020-02-08,"1001, 2020-02-08",21.404426,11.397445,44.7500,11.399597,0.338300,0.325247,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1001,2020-02-09,"1001, 2020-02-09",21.157569,14.467266,49.0000,6.519498,0.290049,0.138416,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1001,2020-02-10,"1001, 2020-02-10",20.507926,9.960756,53.8750,12.110237,0.287328,0.334948,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1001,2020-02-11,"1001, 2020-02-11",21.559984,9.287693,36.1250,5.548697,0.246529,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1001,2020-02-12,"1001, 2020-02-12",4.909091,10.340010,35.2500,8.815905,0.353075,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1001,2020-02-13,"1001, 2020-02-13",18.253319,7.934073,22.3750,5.569664,0.225088,-0.051932,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1001,2020-02-14,"1001, 2020-02-14",23.463179,7.341192,28.1250,6.773046,0.219593,0.226213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1001,2020-02-15,"1001, 2020-02-15",24.203872,9.644288,44.8750,8.937393,0.258785,0.247020,7.0,5.522819,-1.527507,5.0,6.364064,-4.0,NaN,NaN,NaN
26,1001,2020-02-16,"1001, 2020-02-16",23.478198,14.187007,58.4375,10.499572,0.340578,0.313861,1.0,-23.000000,1.000000,0.0,-5.888442,-4.0,NaN,NaN,NaN
27,1001,2020-02-17,"1001, 2020-02-17",14.356775,12.269373,48.5000,10.707214,0.327367,0.000000,0.0,3.275069,5.000000,8.0,-2.629827,-27.0,NaN,NaN,NaN
28,1001,2020-02-18,"1001, 2020-02-18",11.765297,8.248145,49.2500,9.652810,0.272703,0.240471,0.0,-4.000000,0.000000,-2.0,-7.607523,2.0,NaN,NaN,NaN
29,1001,2020-02-19,"1001, 2020-02-19",18.000000,7.490353,20.0000,9.988978,0.273501,0.071866,0.0,5.016194,0.000000,-2.0,-1.303654,2.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310273,90056,2020-03-28,"90056, 2020-03-28",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310274,90056,2020-03-29,"90056, 2020-03-29",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310275,90056,2020-03-30,"90056, 2020-03-30",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310276,90056,2020-03-31,"90056, 2020-03-31",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310277,90056,2020-04-01,"90056, 2020-04-01",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310278,90056,2020-04-02,"90056, 2020-04-02",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310279,90056,2020-04-03,"90056, 2020-04-03",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310280,90056,2020-04-04,"90056, 2020-04-04",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310281,90056,2020-04-05,"90056, 2020-04-05",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310282,90056,2020-04-06,"90056, 2020-04-06",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310283,90056,2020-04-07,"90056, 2020-04-07",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310284,90056,2020-04-08,"90056, 2020-04-08",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310285,90056,2020-04-09,"90056, 2020-04-09",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310286,90056,2020-04-10,"90056, 2020-04-10",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310287,90056,2020-04-11,"90056, 2020-04-11",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310288,90056,2020-04-12,"90056, 2020-04-12",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310289,90056,2020-04-13,"90056, 2020-04-13",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310290,90056,2020-04-14,"90056, 2020-04-14",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310291,90056,2020-04-15,"90056, 2020-04-15",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310292,90056,2020-04-16,"90056, 2020-04-16",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310293,90056,2020-04-17,"90056, 2020-04-17",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310294,90056,2020-04-18,"90056, 2020-04-18",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310295,90056,2020-04-19,"90056, 2020-04-19",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310296,90056,2020-04-20,"90056, 2020-04-20",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310297,90056,2020-04-21,"90056, 2020-04-21",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310298,90056,2020-04-22,"90056, 2020-04-22",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310299,90056,2020-04-23,"90056, 2020-04-23",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310300,90056,2020-04-24,"90056, 2020-04-24",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310301,90056,2020-04-25,"90056, 2020-04-25",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310302,90056,2020-04-26,"90056, 2020-04-26",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN