In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
County_Beds = pd.read_csv('../../../../data/us/hospitals/beds_by_county.csv', encoding='latin1')
County_ICU = pd.read_csv('../../../../data/us/hospitals/icu_county.csv', encoding='latin1')

In [3]:
#Cleaning beds Data
County_Beds = County_Beds.sort_values(by=['FIPS'])
#Dropping unecessary columns
County_Beds = County_Beds.drop(columns=['state', 'county', 'Name'])

In [4]:
#Cleaning icu Data
County_ICU = County_ICU.sort_values(by=['FIPS'])

In [5]:
#Merging Hospital Data with ICU Data
County_Health = County_ICU.join(County_Beds.set_index('FIPS'), on='FIPS', lsuffix='_Post', rsuffix='_Pre')
#Cleaning Merged Dataset
County_Health = County_Health[['FIPS','hospitals','staffed_beds','licensed_beds','icu_beds_Pre','icu_beds_Post']]

#Removing NaNs
County_Health = County_Health[County_Health.staffed_beds >= -1]

County_Health = County_Health.sort_values(by=['FIPS'])
County_Health = County_Health.set_index('FIPS')

County_Health.to_csv('County_Health.csv')

In [6]:
#Setting FIPS to main index
County_Beds = County_Beds.set_index('FIPS')
County_Beds.to_csv('County_Beds.csv')

County_ICU = County_ICU.set_index('FIPS')
County_ICU.to_csv('County_ICU.csv')

In [7]:
print('County_ICU: ' + str(len(County_ICU)))
print('County_Beds: ' + str(len(County_Beds)))
print('County_Health: ' + str(len(County_Health)))

County_ICU: 3142
County_Beds: 2512
County_Health: 2483

In [8]:
County_Beds.head()

      staffed_beds  licensed_beds  icu_beds
FIPS
1001            55             85         6
1003           362            410        44
1005            30             74         5
1007            25             35         0
1009            25             40         6

In [9]:
County_ICU.head()

      hospitals  icu_beds
FIPS
1001          1         6
1003          3        51
1005          1         5
1007          1         0
1009          1         6

In [10]:
County_Health.head()

      hospitals  staffed_beds  licensed_beds  icu_beds_Pre  icu_beds_Post
FIPS
1001          1          55.0           85.0           6.0              6
1003          3         362.0          410.0          44.0             51
1005          1          30.0           74.0           5.0              5
1007          1          25.0           35.0           0.0              0
1009          1          25.0           40.0           6.0              6