In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
#Loading in data
Air_Traffic = pd.read_csv('../../../../data/us/other/air_traffic.csv', encoding='latin1')
Policies = pd.read_csv('../../../../data/us/other/policies.csv', encoding='latin1')
Transit = pd.read_csv('../../../../data/us/other/transit.csv', encoding='latin1')

In [3]:
#Separating only county rows
Policies_County = Policies[Policies.FIPS%1000 != 0]
#Removing extra columns
Policies_County = Policies_County.drop(columns = ['STATE', 'AREA_NAME'])

Policies_County.to_csv('Policies_County.csv')

In [4]:
#Separating only cleaning Transit Data
Transit = Transit.sort_values(by=['FIPS'])
Transit = Transit.drop(columns = ['Name', 'Population'])
Transit.to_csv('Transit.csv')

In [5]:
#Merging & Cleaning Policy/Transit Data
Policy_Transit = pd.merge(Policies_County, Transit, left_on='FIPS', right_on='FIPS')
Policy_Transit.to_csv('Policy_Transit.csv')

In [6]:
print('Policies: ' + str(len(Policies)))
print('Policies_County: ' + str(len(Policies_County)))
print('Transit: ' + str(len(Transit)))
print('Air_Traffic: ' + str(len(Air_Traffic)))
print('Policy_Transit: ' + str(len(Policy_Transit)))

Policies: 3273
Policies_County: 3220
Transit: 3139
Air_Traffic: 251436
Policy_Transit: 3134

In [7]:
Policies_County.head()

,FIPS,stay at home,>50 gatherings,>500 gatherings,public schools,restaurant dine-in,entertainment/gym,federal guidelines,foreign travel ban
2,1001,NaN,737504.0,737497.0,737500.0,737503.0,NaN,737500.0,737495.0
3,1003,NaN,737504.0,737497.0,737500.0,737503.0,NaN,737500.0,737495.0
4,1005,NaN,737504.0,737497.0,737500.0,737503.0,NaN,737500.0,737495.0
5,1007,NaN,737504.0,737497.0,737500.0,737503.0,NaN,737500.0,737495.0
6,1009,NaN,737504.0,737497.0,737500.0,737503.0,NaN,737500.0,737495.0

In [8]:
Transit.head()

      Score  TCI+  Jobs+  Trips/Week+  Routes  Transit Shed  Transit  FIPS
2106    0.0   0.0      0            0       0             0        0  1001
799     0.3   0.1   2691           14       1             1        0  1003
2121    0.0   0.0      0            0       0             0        0  1005
1009    0.1   0.0    279            2       0             0        0  1007
2178    0.0   0.0      0            0       0             0        0  1009