In [43]:
import pandas as pd
import numpy as np
import os

In [44]:
#Loading in data
Air_Traffic = pd.read_csv('../../../../data/us/other/air_traffic.csv', encoding='latin1')
Policies = pd.read_csv('../../../../data/us/other/policies.csv', encoding='latin1')
Transit = pd.read_csv('../../../../data/us/other/transit.csv', encoding='latin1')

In [45]:
#Separating only county rows
Policies_County = Policies[Policies.FIPS%1000 != 0]
#Removing extra columns
Policies_County = Policies_County.drop(columns = ['STATE', 'AREA_NAME'])
Policies_County = Policies_County.set_index('FIPS')
Policies_County.to_csv('Policies_County.csv')

In [46]:
#Separating only cleaning Transit Data
Transit = Transit.sort_values(by=['FIPS'])
Transit = Transit.drop(columns = ['Name', 'Population'])
Transit = Transit.set_index('FIPS')
Transit.to_csv('Transit.csv')

In [47]:
#Merging & Cleaning Policy/Transit Data
Policy_Transit = pd.merge(Policies_County, Transit, left_on='FIPS', right_on='FIPS')
Policy_Transit.to_csv('Policy_Transit.csv')

In [48]:
print('Policies: ' + str(len(Policies)))
print('Policies_County: ' + str(len(Policies_County)))
print('Transit: ' + str(len(Transit)))
print('Air_Traffic: ' + str(len(Air_Traffic)))
print('Policy_Transit: ' + str(len(Policy_Transit)))

Policies: 3273
Policies_County: 3220
Transit: 3139
Air_Traffic: 251436
Policy_Transit: 3134

In [49]:
Policies_County.head()

,stay at home,>50 gatherings,>500 gatherings,public schools,restaurant dine-in,entertainment/gym,federal guidelines,foreign travel ban
FIPS,,,,,,,,
1001,NaN,737504.0,737497.0,737500.0,737503.0,NaN,737500.0,737495.0
1003,NaN,737504.0,737497.0,737500.0,737503.0,NaN,737500.0,737495.0
1005,NaN,737504.0,737497.0,737500.0,737503.0,NaN,737500.0,737495.0
1007,NaN,737504.0,737497.0,737500.0,737503.0,NaN,737500.0,737495.0
1009,NaN,737504.0,737497.0,737500.0,737503.0,NaN,737500.0,737495.0

In [50]:
Transit.head()

      Score  TCI+  Jobs+  Trips/Week+  Routes  Transit Shed  Transit
FIPS
1001    0.0   0.0      0            0       0             0        0
1003    0.3   0.1   2691           14       1             1        0
1005    0.0   0.0      0            0       0             0        0
1007    0.1   0.0    279            2       0             0        0
1009    0.0   0.0      0            0       0             0        0