In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
County_Beds = pd.read_csv('../../../data/us/hospitals/beds_by_county.csv', encoding='latin1')
County_ICU = pd.read_csv('../../../data/us/hospitals/icu_county.csv', encoding='latin1')
Cali_Data = pd.read_csv('../../../data/us/hospitals/ca_county_hospital_statistics.csv', encoding='latin1')

#State Bed Density (per 1000 people)
State_Pop = pd.read_csv('../../../data/us/demographics/state_populations.csv', encoding='latin1')
State_Bed = pd.read_csv('../../../data/us/hospitals/bed_densities.csv', encoding='latin1')
State_Bed.columns = State_Bed.columns.str.replace('bedspermille', 'bedsper1000')

In [4]:
#Merging Hospital Data with ICU Data
County_Health = County_ICU.join(County_Beds.set_index('FIPS'), on='FIPS', lsuffix='_left', rsuffix='_right')
#Cleaning Merged Dataset
County_Health.columns = County_Health.columns.str.replace('icu_beds_left', 'icu_beds_Post')
County_Health.columns = County_Health.columns.str.replace('icu_beds_right', 'icu_beds_Pre')
County_Health = County_Health.drop(columns = ['Name'])
County_Health = County_Health[['FIPS','state','county','hospitals','staffed_beds','licensed_beds','icu_beds_Pre','icu_beds_Post']]

County_Health = County_Health.sort_values(by=['FIPS'])
County_Health.to_csv('County_Health.csv')

In [5]:
County_Health

,FIPS,state,county,hospitals,staffed_beds,licensed_beds,icu_beds_Pre,icu_beds_Post
0,1001,AL,Autauga,1,55.0,85.0,6.0,6
1,1003,AL,Baldwin,3,362.0,410.0,44.0,51
2,1005,AL,Barbour,1,30.0,74.0,5.0,5
3,1007,AL,Bibb,1,25.0,35.0,0.0,0
4,1009,AL,Blount,1,25.0,40.0,6.0,6
5,1011,AL,Bullock,1,30.0,61.0,0.0,0
6,1013,AL,Butler,1,44.0,72.0,7.0,7
7,1015,AL,Calhoun,2,413.0,486.0,24.0,24
8,1017,AL,Chambers,0,0.0,115.0,0.0,0
9,1019,AL,Cherokee,1,45.0,60.0,0.0,0
10,1021,AL,Chilton,1,26.0,30.0,6.0,6
11,1023,AL,Choctaw,1,25.0,25.0,0.0,0
12,1025,AL,Clarke,2,56.0,85.0,0.0,0
13,1027,AL,Clay,1,46.0,53.0,4.0,4
14,1029,NaN,NaN,0,NaN,NaN,NaN,0
15,1031,AL,Coffee,1,99.0,131.0,7.0,7
16,1033,AL,Colbert,2,300.0,363.0,22.0,22
17,1035,AL,Conecuh,1,44.0,58.0,0.0,0
18,1037,NaN,NaN,0,NaN,NaN,NaN,0
19,1039,AL,Covington,2,128.0,187.0,13.0,13
20,1041,AL,Crenshaw,1,57.0,93.0,0.0,0
21,1043,AL,Cullman,1,185.0,185.0,12.0,12
22,1045,AL,Dale,1,77.0,89.0,6.0,6
23,1047,AL,Dallas,1,109.0,175.0,23.0,18
24,1049,AL,De Kalb,1,97.0,134.0,12.0,12
25,1051,AL,Elmore,2,70.0,138.0,5.0,5
26,1053,AL,Escambia,2,95.0,142.0,14.0,14
27,1055,AL,Etowah,2,590.0,739.0,40.0,56
28,1057,AL,Fayette,2,45.0,61.0,8.0,12
29,1059,AL,Franklin,2,74.0,125.0,7.0,7
...,...,...,...,...,...,...,...,...
3112,55129,WI,Washburn,2,45.0,50.0,0.0,0
3113,55131,WI,Washington,2,105.0,141.0,12.0,12
3114,55133,WI,Waukesha,4,710.0,1243.0,64.0,64
3115,55135,WI,Waupaca,2,50.0,50.0,4.0,4
3116,55137,WI,Waushara,1,25.0,25.0,0.0,0
3117,55139,WI,Winnebago,2,687.0,795.0,60.0,26
3118,55141,WI,Wood,2,315.0,619.0,4.0,27
3119,56001,WY,Albany,1,66.0,99.0,4.0,4
3120,56003,WY,Big Horn,2,22.0,25.0,0.0,0
3121,56005,WY,Campbell,1,66.0,90.0,14.0,14
3122,56007,WY,Carbon,1,25.0,25.0,6.0,6
3123,56009,WY,Converse,1,25.0,25.0,0.0,0
3124,56011,WY,Crook,1,16.0,16.0,0.0,0
3125,56013,WY,Fremont,1,133.0,159.0,12.0,12
3126,56015,WY,Goshen,1,25.0,25.0,0.0,0
3127,56017,WY,Hot Springs,1,25.0,25.0,0.0,0
3128,56019,WY,Johnson,1,22.0,25.0,0.0,0
3129,56021,WY,Laramie,1,252.0,206.0,15.0,15
3130,56023,WY,Lincoln,2,35.0,38.0,0.0,0
3131,56025,WY,Natrona,2,372.0,269.0,14.0,14
3132,56027,WY,Niobrara,1,24.0,24.0,0.0,0
3133,56029,WY,Park,2,50.0,50.0,4.0,4
3134,56031,WY,Platte,1,25.0,25.0,0.0,0
3135,56033,WY,Sheridan,1,71.0,88.0,11.0,11
3136,56035,NaN,NaN,0,NaN,NaN,NaN,0
3137,56037,WY,Sweetwater,2,74.0,115.0,10.0,10
3138,56039,WY,Teton,1,48.0,48.0,6.0,6
3139,56041,WY,Uinta,1,105.0,42.0,6.0,6
3140,56043,WY,Washakie,1,18.0,18.0,0.0,0
3141,56045,WY,Weston,1,12.0,12.0,0.0,0

In [6]:
print('County_ICU: ' + str(len(County_ICU)))
print('County_Beds: ' + str(len(County_Beds)))
print('County_Health: ' + str(len(County_Health)))

County_ICU: 3142
County_Beds: 2512
County_Health: 3143

In [7]:
#Cleaning State Bed Dataset
State_Bed = pd.merge(State_Bed, State_Pop, left_on='state', right_on='state')
State_Bed = State_Bed.drop(columns = ['country_x', 'country_y'])

State_Bed.insert(3, "Approx_Beds", State_Bed.bedsper1000*State_Bed.population/1000, True)
State_Bed = State_Bed.round(0)
State_Bed = State_Bed[['state','population','bedsper1000','Approx_Beds']]
State_Bed.to_csv('State_Bed.csv')

In [8]:
State_Bed.head()

  state  population  bedsper1000  Approx_Beds
0    AL     4903185          3.0      15200.0
1    AK      731545          2.0       1609.0
2    AZ     7278717          2.0      13830.0
3    AR     3017825          3.0       9657.0
4    CA    39512223          2.0      71122.0

In [9]:
#Cleaning California Data
Cali_Data.sort_values(by=['FIPS'])
Cali_Data = Cali_Data.drop(columns = ['Influenza_Season', 'State', 'CDPH_HAI_HCP_FLU_VACCINATION', 'Notes'])
Cali_Data.to_csv('Cali_Data.csv')

In [10]:
Cali_Data.head()

,County,Mask Required,Number of Hospitals,HCP_Total_Number_Vaccinated,HCP_Total_Number_Working,HCP_Percent_Vaccinated,Emp_Number_Vaccinated,Emp_Number_Working,Emp_Percent_Vaccinated,Cont_Number_Vaccinated,Cont_Number_Working,Cont_Percent_Vaccinated,Lip_Number_Vaccinated,Lip_Number_Working,Lip_Percent_Vaccinated,StudVol_Number_Vaccinated,StudVol_Number_Working,StudVol_Percent_Vaccinated,On Track to Achieve 90% by 2020 (>=87% in 2018-19),FIPS
0,Alameda,Yes,15,29836.0,34209.0,87.0,20588.0,23710.0,87.0,1228.0,1459.0,84.0,5386.0,6126.0,88.0,2634.0,2914.0,90.0,Yes,6001
1,Amador,Yes,1,538.0,625.0,86.0,375.0,429.0,87.0,45.0,74.0,61.0,58.0,59.0,98.0,60.0,63.0,95.0,No,6005
2,Butte,Yes,4,5907.0,7325.0,81.0,4891.0,5774.0,85.0,300.0,533.0,56.0,287.0,461.0,62.0,429.0,557.0,77.0,No,6007
3,Calaveras,Yes,1,361.0,392.0,92.0,275.0,305.0,90.0,0.0,0.0,NaN,46.0,47.0,98.0,40.0,40.0,100.0,Yes,6009
4,Contra Costa,Yes,8,21585.0,25197.0,86.0,15106.0,17679.0,85.0,1029.0,1395.0,74.0,3346.0,3778.0,89.0,2104.0,2345.0,90.0,No,6013