In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
#Loading in County Data
Age_Race = pd.read_csv('../../../data/us/demographics/acs_2018.csv', encoding='latin1')
County_Pop_Pop60 = pd.read_csv('../../../data/us/demographics/county_populations.csv', encoding='latin1')
Area_Houses = pd.read_csv('../../../data/us/demographics/county_land_areas.csv', encoding='latin1')
Educ = pd.read_csv('../../../data/us/demographics/education.csv', encoding='latin1')
Unemp = pd.read_csv('../../../data/us/demographics/unemployment.csv', delimiter="\t")
Poverty = pd.read_csv('../../../data/us/demographics/poverty.csv', delimiter="\t")
Votes = pd.read_csv('../../../data/us/demographics/countypres_2000-2016.csv', encoding='latin1')

#State Populations
State_Pop = pd.read_csv('../../../data/us/demographics/state_populations.csv', encoding='latin1')

In [3]:
#Changes prefixes of column names
def drop_prefix(self, prefix, replace = ''):
    self.columns = self.columns.str.replace(prefix, replace)
    return self

In [4]:
#Cleaning Voting Data
Votes = Votes[Votes.party != 'green']
Votes = Votes[Votes.party != 'republican'] #Removing unneeded rows
Votes = Votes[Votes.candidate != 'Other']
Votes = Votes[Votes.FIPS <= 10000000]

Votes = Votes.drop(columns=['state', 'state_po', 'county', 'office', 'candidate', 'version']) #removing uneeded columns

Votes.insert(5, "Prop_Blue", Votes.candidatevotes/Votes.totalvotes, True) #Adding column of proportion of democratic
Votes = Votes.drop(columns=['candidatevotes', 'party'])    
Votes = Votes.pivot(index= 'FIPS', columns = 'year') #making FIPS main index
Votes.to_csv('Votes.csv')

In [5]:
#Cleaning the Racial/Age Data
Age_Race.sort_values(by=['FIPS'])
Age_Race = Age_Race[Age_Race.columns.drop(list(Age_Race.filter(regex='Percent')))]
Age_Race = Age_Race[Age_Race.columns.drop(list(Age_Race.filter(regex='ratio')))]
#Dropping unecessary columns
Age_Race = drop_prefix(Age_Race, 'Estimate!!')
Age_Race = drop_prefix(Age_Race, 'SEX AND AGE!!')
Age_Race = drop_prefix(Age_Race, 'RACE!!')
Age_Race = drop_prefix(Age_Race, 'Total population!!') #Changing column title names
Age_Race = drop_prefix(Age_Race, 'One race!!', 'Race_1 ')
Age_Race = drop_prefix(Age_Race, 'Two or more races!!', 'Race_2+ ')
Age_Race = drop_prefix(Age_Race, 'Race alone or in combination with one or more other races!!', 'Race_Total ')
Age_Race = drop_prefix(Age_Race, 'Race alone or in combination with one or more other races!!', 'Race_Total ')
Age_Race = drop_prefix(Age_Race, 'HISPANIC OR LATINO AND', 'Hispanic:')
Age_Race.to_csv('Age_Race.csv')

In [6]:
#Joining Population and Unemployment Data
Pop_Unemp =  pd.merge(County_Pop_Pop60, Unemp, left_on='FIPS', right_on='FIPS')
#Joining this with Land Area/Density Data
Pop_Unemp_Area = pd.merge(Pop_Unemp, Area_Houses, left_on='FIPS', right_on='County FIPS')
Pop_Unemp_Area = Pop_Unemp_Area.drop(columns=['County FIPS', 'Area in square miles - Total area', 'County Name'])
#Joining this with Education Data
Pop_Unemp_Area_Educ = pd.merge(Pop_Unemp_Area, Educ, left_on='FIPS', right_on='FIPS')
#Joining this with Poverty Data
Pop_Unemp_Area_Educ_Pov = pd.merge(Pop_Unemp_Area_Educ, Poverty, left_on='FIPS', right_on='FIPS')
#Joining this with Voting Data
Pop_Unemp_Area_Educ_Pov_Votes = pd.merge(Pop_Unemp_Area_Educ_Pov, Votes, left_on='FIPS', right_on='FIPS')


#Joining Compiled Data with Racial/Age Data (This is incomplete, not all FIPS included)
Demographics_Full = pd.merge(Pop_Unemp_Area_Educ, Age_Race, left_on='FIPS', right_on='FIPS')

C:\Users\jethi\Anaconda3\lib\site-packages\pandas\core\reshape\merge.py:522: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)

In [7]:
print('County_Pop_Pop60: ' + str(len(County_Pop_Pop60)))
print('Area_Houses: ' + str(len(Area_Houses)))
print('Educ: ' + str(len(Educ)))
print('Unemp: ' + str(len(Unemp)))
print('Poverty: ' + str(len(Poverty)))
print('Votes: ' + str(len(Votes)) + '\n')

print('Age_Race: ' + str(len(Age_Race)) + '\n')

print('Pop_Unemp: ' + str(len(Pop_Unemp)))
print('Pop_Unemp_Area: ' + str(len(Pop_Unemp_Area)))
print('Pop_Unemp_Area_Educ: ' + str(len(Pop_Unemp_Area_Educ)))
print('Pop_Unemp_Area_Educ_Pov: ' + str(len(Pop_Unemp_Area_Educ_Pov)))
print('Pop_Unemp_Area_Educ_Pov_Votes: ' + str(len(Pop_Unemp_Area_Educ_Pov_Votes)) + '\n')

print('Demographics_Full: ' + str(len(Demographics_Full)))

County_Pop_Pop60: 3142
Area_Houses: 3221
Educ: 3283
Unemp: 3141
Poverty: 3136
Votes: 3155

Age_Race: 838

Pop_Unemp: 3141
Pop_Unemp_Area: 3139
Pop_Unemp_Area_Educ: 3139
Pop_Unemp_Area_Educ_Pov: 3134
Pop_Unemp_Area_Educ_Pov_Votes: 3114

Demographics_Full: 827

In [8]:
pd.set_option('max_columns', None)
Pop_Unemp_Area_Educ_Pov_Votes.head()

,FIPS,total_pop,60plus,State,Area_name_x,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Metro_2013,Civilian_labor_force_2018,Employed_2018,Unemployed_2018,Unemployment_rate_2018,Median_Household_Income_2018,Med_HH_Income_Percent_of_State_Total_2018,Area in square miles - Land area,2010 Density per square mile of land area - Population,2010 Density per square mile of land area - Housing units,"Less than a high school diploma, 2014-18","High school diploma only, 2014-18","Some college or associate's degree, 2014-18","Bachelor's degree or higher, 2014-18","Percent of adults with less than a high school diploma, 2014-18","Percent of adults with a high school diploma only, 2014-18","Percent of adults completing some college or associate's degree, 2014-18","Percent of adults with a bachelor's degree or higher, 2014-18",Stabr,Area_name_y,Rural-urban_Continuum_Code_2003,Urban_Influence_Code_2003,Rural-urban_Continuum_Code_2013,Urban_Influence_Code_2013,POVALL_2018,CI90LBAll_2018,CI90UBALL_2018,PCTPOVALL_2018,CI90LBALLP_2018,CI90UBALLP_2018,POV017_2018,CI90LB017_2018,CI90UB017_2018,PCTPOV017_2018,CI90LB017P_2018,CI90UB017P_2018,POV517_2018,CI90LB517_2018,CI90UB517_2018,PCTPOV517_2018,CI90LB517P_2018,CI90UB517P_2018,MEDHHINC_2018,CI90LBINC_2018,CI90UBINC_2018,"(totalvotes, 2000)","(totalvotes, 2004)","(totalvotes, 2008)","(totalvotes, 2012)","(totalvotes, 2016)","(Prop_Blue, 2000)","(Prop_Blue, 2004)","(Prop_Blue, 2008)","(Prop_Blue, 2012)","(Prop_Blue, 2016)"
0,1001,55036,10523,AL,"Autauga County, AL",2,2,1,"25,957","25,015",942,3.6,"$59,338",119.0,594.44,91.8,37.2,"4,204","12,119","10,552","10,291",11.3,32.6,28.4,27.7,AL,Autauga County,2,2,2,2,"7,587","6,334","8,840",13.8,11.5,16.1,"2,509","1,965","3,053",19.3,15.1,23.5,"1,891","1,469","2,313",19.5,15.1,23.9,"59,338","53,628","65,048",17208.0,20081.0,23641.0,23932.0,24973.0,0.287192,0.236940,0.257730,0.265878,0.237697
1,1003,203360,53519,AL,"Baldwin County, AL",3,2,1,"93,849","90,456","3,393",3.6,"$57,588",115.5,1589.78,114.6,65.5,"14,310","40,579","46,025","46,075",9.7,27.6,31.3,31.3,AL,Baldwin County,4,5,3,2,"21,069","17,390","24,748",9.8,8.1,11.5,"6,442","4,723","8,161",13.9,10.2,17.6,"4,534","3,223","5,845",13.1,9.3,16.9,"57,588","54,437","60,739",56480.0,69320.0,81413.0,85338.0,95215.0,0.247822,0.225029,0.238119,0.215894,0.193856
2,1005,26201,6150,AL,"Barbour County, AL",6,6,0,"8,373","7,940",433,5.2,"$34,382",68.9,884.88,31.0,13.4,"4,901","6,486","4,566","2,220",27.0,35.7,25.1,12.2,AL,Barbour County,6,6,6,6,"6,788","5,662","7,914",30.9,25.8,36.0,"2,242","1,788","2,696",43.9,35.0,52.8,"1,411","1,056","1,766",36.7,27.5,45.9,"34,382","31,157","37,607",10395.0,10777.0,11630.0,11509.0,10469.0,0.499086,0.448362,0.489854,0.513685,0.465278
3,1007,22580,4773,AL,"Bibb County, AL",1,1,1,"8,661","8,317",344,4.0,"$46,064",92.3,622.58,36.8,14.4,"2,650","7,471","3,846","1,813",16.8,47.3,24.4,11.5,AL,Bibb County,1,1,1,1,"4,400","3,445","5,355",21.8,17.1,26.5,"1,238",923,"1,553",27.8,20.7,34.9,840,606,"1,074",26.3,19.0,33.6,"46,064","41,283","50,845",7101.0,7600.0,8644.0,8420.0,8819.0,0.381636,0.274868,0.265965,0.261520,0.212496
4,1009,57667,13600,AL,"Blount County, AL",1,1,1,"25,006","24,128",878,3.5,"$50,412",101.1,644.78,88.9,37.0,"7,861","13,489","13,267","5,010",19.8,34.0,33.5,12.6,AL,Blount County,1,1,1,1,"7,527","6,045","9,009",13.2,10.6,15.8,"2,374","1,784","2,964",18.0,13.5,22.5,"1,520","1,053","1,987",15.5,10.7,20.3,"50,412","46,157","54,667",17973.0,21504.0,24267.0,24006.0,25588.0,0.276915,0.183129,0.145135,0.123719,0.084258

In [9]:
list(Pop_Unemp_Area_Educ_Pov_Votes.columns)

['FIPS',
 'total_pop',
 '60plus',
 'State',
 'Area_name_x',
 'Rural_urban_continuum_code_2013',
 'Urban_influence_code_2013',
 'Metro_2013',
 'Civilian_labor_force_2018',
 'Employed_2018',
 'Unemployed_2018',
 'Unemployment_rate_2018',
 'Median_Household_Income_2018',
 'Med_HH_Income_Percent_of_State_Total_2018',
 'Area in square miles - Land area',
 '2010 Density per square mile of land area - Population',
 '2010 Density per square mile of land area - Housing units',
 'Less than a high school diploma, 2014-18',
 'High school diploma only, 2014-18',
 "Some college or associate's degree, 2014-18",
 "Bachelor's degree or higher, 2014-18",
 'Percent of adults with less than a high school diploma, 2014-18',
 'Percent of adults with a high school diploma only, 2014-18',
 "Percent of adults completing some college or associate's degree, 2014-18",
 "Percent of adults with a bachelor's degree or higher, 2014-18",
 'Stabr',
 'Area_name_y',
 'Rural-urban_Continuum_Code_2003',
 'Urban_Influence_Code_2003',
 'Rural-urban_Continuum_Code_2013',
 'Urban_Influence_Code_2013',
 'POVALL_2018',
 'CI90LBAll_2018',
 'CI90UBALL_2018',
 'PCTPOVALL_2018',
 'CI90LBALLP_2018',
 'CI90UBALLP_2018',
 'POV017_2018',
 'CI90LB017_2018',
 'CI90UB017_2018',
 'PCTPOV017_2018',
 'CI90LB017P_2018',
 'CI90UB017P_2018',
 'POV517_2018',
 'CI90LB517_2018',
 'CI90UB517_2018',
 'PCTPOV517_2018',
 'CI90LB517P_2018',
 'CI90UB517P_2018',
 'MEDHHINC_2018',
 'CI90LBINC_2018',
 'CI90UBINC_2018',
 ('totalvotes', 2000),
 ('totalvotes', 2004),
 ('totalvotes', 2008),
 ('totalvotes', 2012),
 ('totalvotes', 2016),
 ('Prop_Blue', 2000),
 ('Prop_Blue', 2004),
 ('Prop_Blue', 2008),
 ('Prop_Blue', 2012),
 ('Prop_Blue', 2016)]

In [10]:
Demographics_Full.head()

,FIPS,total_pop,60plus,State,Area_name,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Metro_2013,Civilian_labor_force_2018,Employed_2018,Unemployed_2018,Unemployment_rate_2018,Median_Household_Income_2018,Med_HH_Income_Percent_of_State_Total_2018,Area in square miles - Land area,2010 Density per square mile of land area - Population,2010 Density per square mile of land area - Housing units,"Less than a high school diploma, 2014-18","High school diploma only, 2014-18","Some college or associate's degree, 2014-18","Bachelor's degree or higher, 2014-18","Percent of adults with less than a high school diploma, 2014-18","Percent of adults with a high school diploma only, 2014-18","Percent of adults completing some college or associate's degree, 2014-18","Percent of adults with a bachelor's degree or higher, 2014-18",Geographic Area Name,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,45 to 54 years,55 to 59 years,60 to 64 years,65 to 74 years,75 to 84 years,85 years and over,Median age (years),Under 18 years,16 years and over,18 years and over,21 years and over,62 years and over,65 years and over,18 years and over.1,18 years and over!!Male,18 years and over!!Female,65 years and over.1,65 years and over!!Male,65 years and over!!Female,Total population,One race,Two or more races,One race.1,Race_1 White,Race_1 Black or African American,Margin of Error!!Race_1 Black or African American,Race_1 American Indian and Alaska Native,Race_1 American Indian and Alaska Native!!Cherokee tribal grouping,Race_1 American Indian and Alaska Native!!Chippewa tribal grouping,Race_1 American Indian and Alaska Native!!Navajo tribal grouping,Race_1 American Indian and Alaska Native!!Sioux tribal grouping,Race_1 Asian,Race_1 Asian!!Asian Indian,Race_1 Asian!!Chinese,Race_1 Asian!!Filipino,Race_1 Asian!!Japanese,Race_1 Asian!!Korean,Race_1 Asian!!Vietnamese,Race_1 Asian!!Other Asian,Race_1 Native Hawaiian and Other Pacific Islander,Race_1 Native Hawaiian and Other Pacific Islander!!Native Hawaiian,Race_1 Native Hawaiian and Other Pacific Islander!!Guamanian or Chamorro,Race_1 Native Hawaiian and Other Pacific Islander!!Samoan,Race_1 Native Hawaiian and Other Pacific Islander!!Other Pacific Islander,Race_1 Some other race,Two or more races.1,Race_2+ White and Black or African American,Race_2+ White and American Indian and Alaska Native,Race_2+ White and Asian,Race_2+ Black or African American and American Indian and Alaska Native,Race_Total Total population,Race_Total White,Race_Total Black or African American,Race_Total American Indian and Alaska Native,Race_Total Asian,Race_Total Native Hawaiian and Other Pacific Islander,Race_Total Some other race,Hispanic: Total population,Hispanic: Hispanic or Latino (of any race),Hispanic: Hispanic or Latino (of any race)!!Mexican,Hispanic: Hispanic or Latino (of any race)!!Puerto Rican,Hispanic: Hispanic or Latino (of any race)!!Cuban,Hispanic: Hispanic or Latino (of any race)!!Other Hispanic or Latino,Hispanic: Not Hispanic or Latino,Hispanic: Not Hispanic or Latino!!White alone,Hispanic: Not Hispanic or Latino!!Black or African American alone,Hispanic: Not Hispanic or Latino!!American Indian and Alaska Native alone,Hispanic: Not Hispanic or Latino!!Asian alone,Hispanic: Not Hispanic or Latino!!Native Hawaiian and Other Pacific Islander alone,Hispanic: Not Hispanic or Latino!!Some other race alone,Hispanic: Not Hispanic or Latino!!Two or more races,Hispanic: Not Hispanic or Latino!!Race_2+ Two races including Some other race,"Hispanic: Not Hispanic or Latino!!Race_2+ Two races excluding Some other race, and Three or more races",Total housing units
0,1003,203360,53519,AL,"Baldwin County, AL",3,2,1,"93,849","90,456","3,393",3.6,"$57,588",115.5,1589.78,114.6,65.5,"14,310","40,579","46,025","46,075",9.7,27.6,31.3,31.3,"Baldwin County, Alabama",218022,105437,112585,10878,9445,18093,13489,10426,23498,25990,30117,16569,15074,27152,13464,3827,44.0,47156,176222,170866,163886,53676,44443,170866,81046,89820,44443,20457,23986,218022,214558,3464,214558,187759,20554,446,1276,N,N,N,N,2338,N,N,N,N,N,N,N,45,N,N,N,N,2586,3464,227,2100,739,0,218022,191157,20781,3442,3143,N,2798,218022,10132,5148,1543,321,3120,207890,180926,20328,1209,2338,45,148,2896,127,2769,116632
1,1015,115527,27115,AL,"Calhoun County, AL",3,2,1,"45,972","43,833","2,139",4.7,"$45,400",91.0,605.87,195.7,88.0,"12,620","25,653","26,643","14,219",15.9,32.4,33.7,18.0,"Calhoun County, Alabama",114277,55054,59223,7142,7158,5968,7386,7451,16273,12608,13616,8305,7855,12240,6514,1761,40.1,24484,93284,89793,84973,24963,20515,89793,42655,47138,20515,8619,11896,114277,111498,2779,111498,85046,24737,642,107,N,N,N,N,426,N,N,N,N,N,N,N,0,N,N,N,N,1182,2779,487,304,767,26,114277,87105,25595,489,1594,N,2024,114277,4469,N,N,N,N,109808,82308,24737,107,426,0,0,2230,293,1937,53888
2,1043,81703,19667,AL,"Cullman County, AL",4,3,0,"37,830","36,589","1,241",3.3,"$45,796",91.8,734.84,109.4,50.4,"10,405","20,382","18,559","7,866",18.2,35.6,32.4,13.7,"Cullman County, Alabama",83442,40794,42648,5329,4798,5226,5270,4500,10274,10131,10843,5407,6123,9116,5570,855,40.6,18892,66680,64550,61088,18429,15541,64550,31490,33060,15541,7048,8493,83442,81383,2059,81383,78643,906,335,301,N,N,N,N,166,N,N,N,N,N,N,N,0,N,N,N,N,1367,2059,N,N,N,N,83442,80522,1246,1210,903,N,1702,83442,3699,N,N,N,N,79743,N,N,N,N,N,N,N,N,N,38029
3,1049,71194,15782,AL,"DeKalb County, AL",6,6,0,"30,129","28,979","1,150",3.8,"$39,491",79.2,777.09,91.5,40.0,"12,394","15,956","13,441","6,085",25.9,33.3,28.1,12.7,"DeKalb County, Alabama",71385,35048,36337,3989,3851,6121,5079,4176,8645,8261,9548,4533,4921,7377,3342,1542,39.5,17145,57239,54240,51984,15204,12261,54240,26083,28157,12261,5423,6838,71385,70116,1269,70116,60157,1335,201,868,N,N,N,N,173,N,N,N,N,N,N,N,0,N,N,N,N,7583,1269,N,N,N,N,71385,61426,1348,1722,588,N,7583,71385,10595,N,N,N,N,60790,57199,1335,814,173,0,0,1269,0,1269,31656
4,1051,80989,15929,AL,"Elmore County, AL",2,2,1,"37,215","35,932","1,283",3.4,"$60,367",121.0,618.48,128.2,52.8,"7,594","18,304","16,197","13,664",13.6,32.8,29.0,24.5,"Elmore County, Alabama",81887,39988,41899,5246,4443,5024,5534,4847,12140,10087,11642,5364,5261,7550,3764,985,38.4,18562,65407,63325,61214,15329,12299,63325,30034,33291,12299,5538,6761,81887,79941,1946,79941,60622,17113,1682,345,N,N,N,N,522,N,N,N,N,N,N,N,0,N,N,N,N,1339,1946,N,N,N,N,81887,62491,18388,838,707,N,1395,81887,2467,N,N,N,N,79420,59771,16836,345,522,0,0,1946,56,1890,34416

In [11]:
list(Demographics_Full.columns)

['FIPS',
 'total_pop',
 '60plus',
 'State',
 'Area_name',
 'Rural_urban_continuum_code_2013',
 'Urban_influence_code_2013',
 'Metro_2013',
 'Civilian_labor_force_2018',
 'Employed_2018',
 'Unemployed_2018',
 'Unemployment_rate_2018',
 'Median_Household_Income_2018',
 'Med_HH_Income_Percent_of_State_Total_2018',
 'Area in square miles - Land area',
 '2010 Density per square mile of land area - Population',
 '2010 Density per square mile of land area - Housing units',
 'Less than a high school diploma, 2014-18',
 'High school diploma only, 2014-18',
 "Some college or associate's degree, 2014-18",
 "Bachelor's degree or higher, 2014-18",
 'Percent of adults with less than a high school diploma, 2014-18',
 'Percent of adults with a high school diploma only, 2014-18',
 "Percent of adults completing some college or associate's degree, 2014-18",
 "Percent of adults with a bachelor's degree or higher, 2014-18",
 'Geographic Area Name',
 'Total population',
 'Male',
 'Female',
 'Under 5 years',
 '5 to 9 years',
 '10 to 14 years',
 '15 to 19 years',
 '20 to 24 years',
 '25 to 34 years',
 '35 to 44 years',
 '45 to 54 years',
 '55 to 59 years',
 '60 to 64 years',
 '65 to 74 years',
 '75 to 84 years',
 '85 years and over',
 'Median age (years)',
 'Under 18 years',
 '16 years and over',
 '18 years and over',
 '21 years and over',
 '62 years and over',
 '65 years and over',
 '18 years and over.1',
 '18 years and over!!Male',
 '18 years and over!!Female',
 '65 years and over.1',
 '65 years and over!!Male',
 '65 years and over!!Female',
 'Total population',
 'One race',
 'Two or more races',
 'One race.1',
 'Race_1 White',
 'Race_1 Black or African American',
 'Margin of Error!!Race_1 Black or African American',
 'Race_1 American Indian and Alaska Native',
 'Race_1 American Indian and Alaska Native!!Cherokee tribal grouping',
 'Race_1 American Indian and Alaska Native!!Chippewa tribal grouping',
 'Race_1 American Indian and Alaska Native!!Navajo tribal grouping',
 'Race_1 American Indian and Alaska Native!!Sioux tribal grouping',
 'Race_1 Asian',
 'Race_1 Asian!!Asian Indian',
 'Race_1 Asian!!Chinese',
 'Race_1 Asian!!Filipino',
 'Race_1 Asian!!Japanese',
 'Race_1 Asian!!Korean',
 'Race_1 Asian!!Vietnamese',
 'Race_1 Asian!!Other Asian',
 'Race_1 Native Hawaiian and Other Pacific Islander',
 'Race_1 Native Hawaiian and Other Pacific Islander!!Native Hawaiian',
 'Race_1 Native Hawaiian and Other Pacific Islander!!Guamanian or Chamorro',
 'Race_1 Native Hawaiian and Other Pacific Islander!!Samoan',
 'Race_1 Native Hawaiian and Other Pacific Islander!!Other Pacific Islander',
 'Race_1 Some other race',
 'Two or more races.1',
 'Race_2+ White and Black or African American',
 'Race_2+ White and American Indian and Alaska Native',
 'Race_2+ White and Asian',
 'Race_2+ Black or African American and American Indian and Alaska Native',
 'Race_Total Total population',
 'Race_Total White',
 'Race_Total Black or African American',
 'Race_Total American Indian and Alaska Native',
 'Race_Total Asian',
 'Race_Total Native Hawaiian and Other Pacific Islander',
 'Race_Total Some other race',
 'Hispanic: Total population',
 'Hispanic: Hispanic or Latino (of any race)',
 'Hispanic: Hispanic or Latino (of any race)!!Mexican',
 'Hispanic: Hispanic or Latino (of any race)!!Puerto Rican',
 'Hispanic: Hispanic or Latino (of any race)!!Cuban',
 'Hispanic: Hispanic or Latino (of any race)!!Other Hispanic or Latino',
 'Hispanic: Not Hispanic or Latino',
 'Hispanic: Not Hispanic or Latino!!White alone',
 'Hispanic: Not Hispanic or Latino!!Black or African American alone',
 'Hispanic: Not Hispanic or Latino!!American Indian and Alaska Native alone',
 'Hispanic: Not Hispanic or Latino!!Asian alone',
 'Hispanic: Not Hispanic or Latino!!Native Hawaiian and Other Pacific Islander alone',
 'Hispanic: Not Hispanic or Latino!!Some other race alone',
 'Hispanic: Not Hispanic or Latino!!Two or more races',
 'Hispanic: Not Hispanic or Latino!!Race_2+ Two races including Some other race',
 'Hispanic: Not Hispanic or Latino!!Race_2+ Two races excluding Some other race, and Three or more races',
 'Total housing units']

In [12]:
#Repeating similar process to above, but changing order of merges to make maximum rows
#Joining Education & Area
Educ_Area = pd.merge(Educ, Area_Houses, left_on='FIPS', right_on='County FIPS')
Educ_Area = Educ_Area.drop(columns=['County FIPS', 'Area in square miles - Total area', 'County Name'])
#Joining this with Population Data
Educ_Area_Pop = pd.merge(Educ_Area, County_Pop_Pop60, left_on='FIPS', right_on='FIPS')
#Joining this with Unemployment Data
Educ_Area_Pop_Unemp = pd.merge(Educ_Area_Pop, Unemp, left_on='FIPS', right_on='FIPS')
#Joining this with Poverty Data
Educ_Area_Pop_Unemp_Pov = pd.merge(Educ_Area_Pop_Unemp, Poverty, left_on='FIPS', right_on='FIPS')
#Joining this with Voting Data
Educ_Area_Pop_Unemp_Pov_Votes = pd.merge(Pop_Unemp_Area_Educ_Pov, Votes, left_on='FIPS', right_on='FIPS')

In [13]:
print('Educ_Area: ' + str(len(Educ_Area)))
print('Educ_Area_Pop: ' + str(len(Educ_Area_Pop)))
print('Educ_Area_Pop_Unemp: ' + str(len(Educ_Area_Pop_Unemp)))
print('Educ_Area_Pop_Unemp_Pov: ' + str(len(Educ_Area_Pop_Unemp_Pov)))
print('Educ_Area_Pop_Unemp_Pov_Votes: ' + str(len(Educ_Area_Pop_Unemp_Pov_Votes)) + '\n')

Educ_Area: 3219
Educ_Area_Pop: 3140
Educ_Area_Pop_Unemp: 3139
Educ_Area_Pop_Unemp_Pov: 3134
Educ_Area_Pop_Unemp_Pov_Votes: 3114

In [14]:
Educ_Area_Pop_Unemp_Pov_Votes.head()

,FIPS,total_pop,60plus,State,Area_name_x,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Metro_2013,Civilian_labor_force_2018,Employed_2018,Unemployed_2018,Unemployment_rate_2018,Median_Household_Income_2018,Med_HH_Income_Percent_of_State_Total_2018,Area in square miles - Land area,2010 Density per square mile of land area - Population,2010 Density per square mile of land area - Housing units,"Less than a high school diploma, 2014-18","High school diploma only, 2014-18","Some college or associate's degree, 2014-18","Bachelor's degree or higher, 2014-18","Percent of adults with less than a high school diploma, 2014-18","Percent of adults with a high school diploma only, 2014-18","Percent of adults completing some college or associate's degree, 2014-18","Percent of adults with a bachelor's degree or higher, 2014-18",Stabr,Area_name_y,Rural-urban_Continuum_Code_2003,Urban_Influence_Code_2003,Rural-urban_Continuum_Code_2013,Urban_Influence_Code_2013,POVALL_2018,CI90LBAll_2018,CI90UBALL_2018,PCTPOVALL_2018,CI90LBALLP_2018,CI90UBALLP_2018,POV017_2018,CI90LB017_2018,CI90UB017_2018,PCTPOV017_2018,CI90LB017P_2018,CI90UB017P_2018,POV517_2018,CI90LB517_2018,CI90UB517_2018,PCTPOV517_2018,CI90LB517P_2018,CI90UB517P_2018,MEDHHINC_2018,CI90LBINC_2018,CI90UBINC_2018,"(totalvotes, 2000)","(totalvotes, 2004)","(totalvotes, 2008)","(totalvotes, 2012)","(totalvotes, 2016)","(Prop_Blue, 2000)","(Prop_Blue, 2004)","(Prop_Blue, 2008)","(Prop_Blue, 2012)","(Prop_Blue, 2016)"
0,1001,55036,10523,AL,"Autauga County, AL",2,2,1,"25,957","25,015",942,3.6,"$59,338",119.0,594.44,91.8,37.2,"4,204","12,119","10,552","10,291",11.3,32.6,28.4,27.7,AL,Autauga County,2,2,2,2,"7,587","6,334","8,840",13.8,11.5,16.1,"2,509","1,965","3,053",19.3,15.1,23.5,"1,891","1,469","2,313",19.5,15.1,23.9,"59,338","53,628","65,048",17208.0,20081.0,23641.0,23932.0,24973.0,0.287192,0.236940,0.257730,0.265878,0.237697
1,1003,203360,53519,AL,"Baldwin County, AL",3,2,1,"93,849","90,456","3,393",3.6,"$57,588",115.5,1589.78,114.6,65.5,"14,310","40,579","46,025","46,075",9.7,27.6,31.3,31.3,AL,Baldwin County,4,5,3,2,"21,069","17,390","24,748",9.8,8.1,11.5,"6,442","4,723","8,161",13.9,10.2,17.6,"4,534","3,223","5,845",13.1,9.3,16.9,"57,588","54,437","60,739",56480.0,69320.0,81413.0,85338.0,95215.0,0.247822,0.225029,0.238119,0.215894,0.193856
2,1005,26201,6150,AL,"Barbour County, AL",6,6,0,"8,373","7,940",433,5.2,"$34,382",68.9,884.88,31.0,13.4,"4,901","6,486","4,566","2,220",27.0,35.7,25.1,12.2,AL,Barbour County,6,6,6,6,"6,788","5,662","7,914",30.9,25.8,36.0,"2,242","1,788","2,696",43.9,35.0,52.8,"1,411","1,056","1,766",36.7,27.5,45.9,"34,382","31,157","37,607",10395.0,10777.0,11630.0,11509.0,10469.0,0.499086,0.448362,0.489854,0.513685,0.465278
3,1007,22580,4773,AL,"Bibb County, AL",1,1,1,"8,661","8,317",344,4.0,"$46,064",92.3,622.58,36.8,14.4,"2,650","7,471","3,846","1,813",16.8,47.3,24.4,11.5,AL,Bibb County,1,1,1,1,"4,400","3,445","5,355",21.8,17.1,26.5,"1,238",923,"1,553",27.8,20.7,34.9,840,606,"1,074",26.3,19.0,33.6,"46,064","41,283","50,845",7101.0,7600.0,8644.0,8420.0,8819.0,0.381636,0.274868,0.265965,0.261520,0.212496
4,1009,57667,13600,AL,"Blount County, AL",1,1,1,"25,006","24,128",878,3.5,"$50,412",101.1,644.78,88.9,37.0,"7,861","13,489","13,267","5,010",19.8,34.0,33.5,12.6,AL,Blount County,1,1,1,1,"7,527","6,045","9,009",13.2,10.6,15.8,"2,374","1,784","2,964",18.0,13.5,22.5,"1,520","1,053","1,987",15.5,10.7,20.3,"50,412","46,157","54,667",17973.0,21504.0,24267.0,24006.0,25588.0,0.276915,0.183129,0.145135,0.123719,0.084258