In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
County_Beds = pd.read_csv('../../../data/us/hospitals/beds_by_county.csv', encoding='latin1')
County_ICU = pd.read_csv('../../../data/us/hospitals/icu_county.csv', encoding='latin1')
Cali_Data = pd.read_csv('../../../data/us/hospitals/ca_county_hospital_statistics.csv', encoding='latin1')

#State Bed Density (per 1000 people)
State_Pop = pd.read_csv('../../../data/us/demographics/state_populations.csv', encoding='latin1')
State_Bed = pd.read_csv('../../../data/us/hospitals/bed_densities.csv', encoding='latin1')
State_Bed.columns = State_Bed.columns.str.replace('bedspermille', 'bedsper1000')

In [3]:
#Merging Hospital Data with ICU Data
County_Health = County_ICU.join(County_Beds.set_index('FIPS'), on='FIPS', lsuffix='_left', rsuffix='_right')
#Cleaning Merged Dataset
County_Health.columns = County_Health.columns.str.replace('icu_beds_left', 'icu_beds_Post')
County_Health.columns = County_Health.columns.str.replace('icu_beds_right', 'icu_beds_Pre')
County_Health = County_Health.drop(columns = ['Name'])
County_Health = County_Health[['FIPS','state','county','hospitals','staffed_beds','licensed_beds','icu_beds_Pre','icu_beds_Post']]

County_Health = County_Health.sort_values(by=['FIPS'])
County_Health.to_csv('County_Health.csv')

In [4]:
County_Health.head()

,FIPS,state,county,hospitals,staffed_beds,licensed_beds,icu_beds_Pre,icu_beds_Post
0,1001,AL,Autauga,1,55.0,85.0,6.0,6
1,1003,AL,Baldwin,3,362.0,410.0,44.0,51
2,1005,AL,Barbour,1,30.0,74.0,5.0,5
3,1007,AL,Bibb,1,25.0,35.0,0.0,0
4,1009,AL,Blount,1,25.0,40.0,6.0,6

In [5]:
print('County_ICU: ' + str(len(County_ICU)))
print('County_Beds: ' + str(len(County_Beds)))
print('County_Health: ' + str(len(County_Health)))

County_ICU: 3142
County_Beds: 2512
County_Health: 3143

In [6]:
#Cleaning State Bed Dataset
State_Bed = pd.merge(State_Bed, State_Pop, left_on='state', right_on='state')
State_Bed = State_Bed.drop(columns = ['country_x', 'country_y'])

State_Bed.insert(3, "Approx_Beds", State_Bed.bedsper1000*State_Bed.population/1000, True)
State_Bed = State_Bed.round(0)
State_Bed = State_Bed[['state','population','bedsper1000','Approx_Beds']]
State_Bed.to_csv('State_Bed.csv')

In [7]:
State_Bed.head()

  state  population  bedsper1000  Approx_Beds
0    AL     4903185          3.0      15200.0
1    AK      731545          2.0       1609.0
2    AZ     7278717          2.0      13830.0
3    AR     3017825          3.0       9657.0
4    CA    39512223          2.0      71122.0

In [8]:
#Cleaning California Data
Cali_Data.sort_values(by=['FIPS'])
Cali_Data = Cali_Data.drop(columns = ['Influenza_Season', 'State', 'CDPH_HAI_HCP_FLU_VACCINATION', 'Notes'])
Cali_Data.to_csv('Cali_Data.csv')

In [9]:
Cali_Data.head()

,County,Mask Required,Number of Hospitals,HCP_Total_Number_Vaccinated,HCP_Total_Number_Working,HCP_Percent_Vaccinated,Emp_Number_Vaccinated,Emp_Number_Working,Emp_Percent_Vaccinated,Cont_Number_Vaccinated,Cont_Number_Working,Cont_Percent_Vaccinated,Lip_Number_Vaccinated,Lip_Number_Working,Lip_Percent_Vaccinated,StudVol_Number_Vaccinated,StudVol_Number_Working,StudVol_Percent_Vaccinated,On Track to Achieve 90% by 2020 (>=87% in 2018-19),FIPS
0,Alameda,Yes,15,29836.0,34209.0,87.0,20588.0,23710.0,87.0,1228.0,1459.0,84.0,5386.0,6126.0,88.0,2634.0,2914.0,90.0,Yes,6001
1,Amador,Yes,1,538.0,625.0,86.0,375.0,429.0,87.0,45.0,74.0,61.0,58.0,59.0,98.0,60.0,63.0,95.0,No,6005
2,Butte,Yes,4,5907.0,7325.0,81.0,4891.0,5774.0,85.0,300.0,533.0,56.0,287.0,461.0,62.0,429.0,557.0,77.0,No,6007
3,Calaveras,Yes,1,361.0,392.0,92.0,275.0,305.0,90.0,0.0,0.0,NaN,46.0,47.0,98.0,40.0,40.0,100.0,Yes,6009
4,Contra Costa,Yes,8,21585.0,25197.0,86.0,15106.0,17679.0,85.0,1029.0,1395.0,74.0,3346.0,3778.0,89.0,2104.0,2345.0,90.0,No,6013