In [84]:
import pandas as pd
import numpy as np
import os

In [85]:
#Loading in County Data
Educ = pd.read_csv('../../../../data/us/demographics/education.csv', encoding='latin1')
State_Pop = pd.read_csv('../../../../data/us/demographics/state_populations.csv', encoding='latin1')

In [86]:
#State Education levels
Educ_State = Educ[Educ['FIPS'] % 1000 == 0]

In [87]:
Educ_State.head()

,FIPS,"Less than a high school diploma, 2014-18","High school diploma only, 2014-18","Some college or associate's degree, 2014-18","Bachelor's degree or higher, 2014-18","Percent of adults with less than a high school diploma, 2014-18","Percent of adults with a high school diploma only, 2014-18","Percent of adults completing some college or associate's degree, 2014-18","Percent of adults with a bachelor's degree or higher, 2014-18"
0,0,"26,948,057","59,265,308","63,365,655","68,867,051",12.3,27.1,29.0,31.5
1,1000,"470,043","1,020,172","987,148","822,595",14.2,30.9,29.9,24.9
69,2000,"34,760","133,851","169,471","139,645",7.3,28.0,35.5,29.2
106,4000,"613,002","1,112,551","1,570,308","1,338,071",13.2,24.0,33.9,28.9
122,5000,"276,029","681,223","590,434","451,621",13.8,34.1,29.5,22.6

In [88]:
State_Pop.head()

  state country  population
0    CA     USA    39512223
1    TX     USA    28995881
2    FL     USA    21477737
3    NY     USA    19453561
4    PA     USA    12801989