In [12]:
import pandas as pd
import numpy as np
import os

In [13]:
Policies = pd.read_csv('../../../../data/us/other/policies.csv', encoding='latin1')

In [14]:
Policies_State = Policies[Policies.FIPS%1000 == 0]

In [15]:
Policies_State.head()

,FIPS,STATE,AREA_NAME,stay at home,>50 gatherings,>500 gatherings,public schools,restaurant dine-in,entertainment/gym,federal guidelines,foreign travel ban
0,0,US,united states,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000,AL,alabama,NaN,737504.0,737497.0,737500.0,737503.0,NaN,737500.0,737495.0
69,2000,AK,alaska,NaN,NaN,NaN,737503.0,737501.0,737501.0,737500.0,737495.0
99,4000,AZ,arizona,737515.0,737515.0,737515.0,737500.0,737504.0,NaN,737500.0,737495.0
115,5000,AR,arkansas,NaN,NaN,NaN,737501.0,737503.0,737503.0,737500.0,737495.0